<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{ bootstrap.load_css() }}
    {% block styles %}{% endblock %}
    
    {{ bootstrap.load_js() }}
    {% block scripts %}{% endblock %}
    {% endblock %}
  </head>
  {% block body%}
  <body>
    {% block content %}
    {% endblock %}
  </body>
  {% endblock %}
</html>